<div class="col-lg-6">
  <div class="ibox ">
    <div class="ibox-title">
        <h5>Dados da Empresa</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#" class="dropdown-item">Config option 1</a>
                </li>
                <li><a href="#" class="dropdown-item">Config option 2</a>
                </li>
            </ul> -->
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
      </div>
    <div class="ibox-content">
      <%= simple_form_for @company do |f| %>
        <div class="form-group row">
          <div class="col-lg-10">
            <%= f.input :cnpj, placeholder: '12.345.678/0001-90', input_html: { class: 'form-control width-total' }, label: 'C.N.P.J.' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-10">
            <%= f.input :formal_name, input_html: { class: 'form-control width-total' }, label: 'Razão Social' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-10">
            <%= f.input :fantasy_name, input_html: { class: 'form-control width-total' }, label: 'Nome Fantasia'  %>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-lg-offset-6 col-lg-10">
            <%= f.button :submit, 'Salvar', class: 'btn btn-w-m btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
